.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-tag {
  display: flex;
  float: right;
  right: 30px;
  left: 20px;
  width: 15px;
  height: 15px;
}

.font {
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.main-area {
  border-top: 1px solid lightgray;
  padding: 0px;
}

.footer-img {
  border-top: 1px solid lightgray;
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  top: 0;
}

.img-bottom {
  margin: 0 15px 0 15px;
  flex-direction: row;
  height: 50px;
  width: 50px;
  display: fixed;
  
}


